.map-container {
    outline: none;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 390px;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
    margin-left: 100px;
    border: 10px solid #FFD1DC;
    border-radius: 10px;
  }

  .popup-box {
    width: 290;
    height: 290;
    background-color: #FFD1DC;
    border-top: 5px solid #FFD1DC;
    border-radius: 10px;
}

  .marker {
    background-color: #FFD1D1;
    background-size: cover;
    width: 80px;
    height: 80px;
    cursor: pointer;
  }

  .sidebar {
    display: inline-block;
    position: absolute;
    margin-top: 40;
    margin-left: 40;
    padding: 12;
    background-color: #404040;
    color: #FFD1DC;
    z-index: 1;
    padding: 6;
}