.loading-container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}
.loading {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  border: solid 5px #ffa2be;
  border-radius: 5px;
}

@media (max-width: 505px) {
.loading {
margin-top: -20px;

}
}
